* {
	font-family: Arial, Helvetica, sans-serif;
	}


#anzahl {	
	font-size:5em;
	text-align:center;
	margin:0em .5em;
	color:#aa0000;
	text-shadow:#550000 3px 3px;
	}
	
#ergebnisfeld {
	font-size:1.5em;
	color:#ffffff;
	font-weight:bold;
	}
	
#preEdgeCheck {
        height:2em;
        width:2em;
        }

#wuerfelbutton {
	height:100px;
	width:180px;
	background-image:url(./images/rolling_dice.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	}
	
#wuerfelfeld {
	padding-left:2.2%;
	}

#glitchanzeige {
	color:#ff0000;
	font-weight:bold;
	}

#main {
	width=80%;
	margin: 0 auto;
	}

#rerollfeld {
	margin-top:1em;
	padding-left:2.2%;
	}

#cheatkasten {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 20px;
	}

#cheatinfo {
	color:#707070;
	}

button.action {
	font-weight:bold;
	font-size:1em;
	height:4em;
	width:5em;
	}

button.change {
	font-size:1.5em;
	padding:.5em 1em;
	}

button.cheatbutton {
	color:#707070;
	background-color:transparent;
	}

.checkboxlabel {
	font-weight:bold;
	}
	
.invisible {
	visibility:hidden; 
	}

.visible {
	visibility:visible;
	}

.sixReroll {
	margin-top:1em;
	margin-left:43.5%;
	font-size:1.5em;
	}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #505050;
  border: .5px solid #505050;
  width: 35px;
  height: 25px;
  border-radius: 5px;
  background: #4CAF50;
  cursor: pointer;
  margin-top: 3px;
}

.slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #505050;
  border: .5px solid #505050;
  height: 25px;
  width: 35px;
  border-radius: 5px;
  background: #4CAF50;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

h1 {
	text-align:center;
	color:#ffffff;
	}


td {
	text-align:center;
	}

body {
	background-image: url(./images/background2.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	}
	
table {
	margin-left: 35%;
	}	
